#userWelcome
{
    margin-top:90px;
    margin-left:20%;
    margin-right:20%;
}
#ERROR
{
    margin-top:290px;
    margin-left:20%;
    margin-right:20%;
    
}
#addButton
{
    margin-bottom: 15px;
}